/* CODE CREATED BY KITSUMOX */

  @font-face {
    font-family: "whitneybold";
    src: url(Whitney-Book.ttf);
  }

  :root {
    --main: #313338;
    --secondary: #2E3035;
    --third: #3F4147;
    --four: #2B2D31;
    --text: #FFFFFF;
    --texttwo: #949BA4;
    --textthree: #B5BAC1;
  }


  /* start message css */
  .mes-wrap {
    background-color: var(--main);
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:12px;
  }

  .mes-wrap:hover {
    background-color: var(--secondary);
      background-image: linear-gradient(to right, var(--secondary) 70% , var(--main));
  }

  .avatar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #day.avatar {
    background-position: bottom left;
    background-size: auto;
    background-image: url('https://cdn.discordapp.com/attachments/857241148208185365/1192618437919396001/image.png');
  }

  #cala.avatar {
    background-position: center;
    background-size: 100px 100px;
    background-image: url('https://cdn.discordapp.com/attachments/857241148208185365/1192618438317850704/dczrdaq-a9ce470a-d287-4fb9-91f8-0f8f2de39ae6.png');
  }

  .userwrap {
    display: flex;
    align-items: baseline;
  }

  .username {
    text-align: left;
    height: 20px;
    width: auto;
    padding-inline-end: 11px;
    padding-inline-start: 16px;
  }

  .time {
    user-select: none;
    height: 15px;
    width: 170px;
    color: var(--texttwo);
    font-size: small;
  }

  .text {
    width: auto;
    word-wrap: break-word;
    text-align: left;
    margin-top: 5px;
    margin-left: 66px;
  }
  
  .emoji {  
    line-height:45px;
    font-size:250%;
  }

  br {
    display: block;
    content: "";
    margin-top: 5px;
  }

  img {
    max-width: 80%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1px;
  }

  /* end message css */
  
  /* reply css start */
  .avatwo {
    width:20px;
    height:20px;
  }
        
  #day.avatar.avatwo { 
    background-position: bottom left;
    background-size: 40px;
  }
        
  #cala.avatar.avatwo { 
    background-position: center;
    background-size: 40px 40px;
  }
        
  .replycontain {
    display:flex;
    font-size: 90%;
  }
        
  .replybord {
    margin-top:8px;
    margin-left:25px;
    margin-bottom:4px;
    margin-right:5px;
    width:35px;
    height:12px;
    border-left: 2px solid var(--texttwo);
    border-top: 2px solid var(--texttwo);
    border-radius: 5px 0px 0px 0px; 
  }
        
  .reply {
    display:flex;
    margin-bottom:5px;
    width:550px;
    align-items: center;
  }
        
        
  .replyuser {
    padding-inline-end: 6px;
    padding-inline-start: 5px; 
  }

  /* reply css end */
        
  
  /* start timestamp css */
  .timejumpwrap {
        text-align: center;
    min-width:650px;
    line-height: 1px;
    background-color: var(--main);
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .timejump {
    font-size: small;
    color: var(--texttwo);

    border-bottom: 2px solid #3F4147;
  }

  .timejump span {
    user-select: none;
    margin-bottom: 10px;
    background-color: var(--main);
    padding-left: 15px;
    padding-right: 15px;
  }

  /* end timestamp css */
  
  
          /* react css start */
    .reactcontain {
    margin-top:10px;
    margin-left: 66px;
    display:flex;
    width: auto;
    color:var(--textthree);
    user-select: none;
    }
        
    .reactbord {
      cursor: pointer;
    margin-right:5px;
    margin-top:-5px;
    line-height:15px;
    height:15px;
    width:37px;
    display:flex;
    border-radius:8px;
    border:1px solid var(--four);
    background-color:var(--four);
    padding:5px;
    font-weight:bold;
    letter-spacing: 3px;
    }
        
    .reactbord:hover {
    animation-name: border;
    animation-duration: 0.3s;
    border:1px solid var(--third);
    color:var(--text);
    }
        
    @keyframes border {
    from {border:1px solid var(--four);}
    to {border:1px solid var(--third); color:var(--text);}
    }
        
    .react {
    padding-inline-start: 2px; 
    }
    
    /* react css end */
  
  

  body {
    font-family: "whitneybold";
    overflow-x: hidden;
    background-color: black;
  }

  .container {
        width: 650px;
        margin:auto;
    color: var(--text);
  }
  
    /* starter message css, feel free to remove! */

  .startcontain {
    width: 850px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: darkblue;
  }

  .start {
    color:white;
    padding:10px;
    }

  .start h2 {
    color: red;
    text-align: center;
  }